<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Buz</title>
    <link rel='shortcut icon' href = "https://user-images.githubusercontent.com/76495035/154708549-f85664ac-762b-4c93-a532-0313585ee72a.png" type = "image/png">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
      {% load bootstrap4 %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
          <img src="https://user-images.githubusercontent.com/76495035/154708549-f85664ac-762b-4c93-a532-0313585ee72a.png" width="30" height="30" class="d-inline-block align-top" alt="">
          E-Buz
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <form class="form-inline">
            <div class="nav-item dropdown ml-3">
              <a class="nav-link dropdown-toggle text-dark" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search for Startups
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-dark" href="/searchforstartups/">Bakeries</a>
                <a class="dropdown-item text-dark" href="/searchforclubs/">Toys</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Electronics</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Skin Care</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Jewelry/Fashion</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Art</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Clothing</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Books/Movies</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Customizable Products</a>
                <a class="dropdown-item text-dark" href="/searchforevents/">Other</a>
              </div>
            </div>
                <a class="nav-link mr-2 ml-2 text-dark" href="/myposts/">My Websites</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/following/">Liked Products</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/following/">Following</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/popular/">Top Start-Ups</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/popular/">Recommendations</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/popular/">Invest</a>
                <a class="nav-link mr-2 ml-2 text-dark" href="/profile/">Profile</a>
                <a href='/sign-out' class="btn btn-outline-primary ml-2">Sign Out</a>
          </form>
      </nav>
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <form class="form-inline">
            <div class="nav-item dropdown ml-3 bg-light">
            </div>
                <a class="nav-link mr-2 ml-2 text-light" href="/myposts/">Set Up Payment Options</a>
                 <a class="nav-link mr-2 ml-2 text-light" href="/myposts/">Followers</a>
                <a class="nav-link mr-2 ml-2 text-light" href="/following/">Edit</a>
                <a class="nav-link mr-2 ml-2 text-light" href="/following/">Delete</a>
          </form>
    </nav>
    <style>
        .text-block {
         position: absolute;
         top: 150px;
         left: 50px;
         border-radius: 8px;
         background-color: white;
         padding: 20px;
       }
    </style>

    <div class="p-5 bg-image" style="background-image: url('https://user-images.githubusercontent.com/76495035/154733591-bfe55870-102b-41fa-998d-08fe4e43a0d6.png'); height: 600px; background-size:cover; background-repeat:no-repeat;">
            <div class="text-block">
                 <h1 style = "font-family:oswald;color:black;font-size:50px">Amanda's Bakery</h1>
                 <p style = "font-family: 'Baloo Tammudu 2', cursive; color:black;font-size:20px">Welcome to Amanda's Bakery! We bake your favorite sweet and savory goods!</p><br><br>
                 <a href = "#learnmore" style = "border:none; color:white; padding:12px; font-family:oswald; text-decoration: none; font-size: 24px; background-color:#004AAD; border-radius: 12px; left: 150px;" class= "button">Explore</a>
            </div>
    </div><br>
    <div class="row">
              <div class="col-lg-4" style="margin-left:50px">
                <b class="text-secondary text-dark" style="font-size:25px">Add a Product</b><br><br>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <p class="text-secondary text-dark" style="font-size:20px">Information</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form_errors post_form %}
                            {% bootstrap_label "Name of Product" %}
                            {% bootstrap_field post_form.name_of_organization show_label=False placeholder="Cake" %}
                            {% bootstrap_label "Description" %}
                            {% bootstrap_field post_form.description show_label=False placeholder="" %}
                            {% bootstrap_label "Shipping, Pickup, or Both" %}
                            {% bootstrap_field post_form.communication show_label=False %}

                            <input type="hidden" name="step" value="1">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
    
           <div class="row">
              <div class="col-lg-4" style="margin-left:50px">
                <b class="text-secondary text-dark" style="font-size:25px">Feedback Form</b><br><br>
                <div class="card bg-white mt-2 mb-5">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form_errors post_form %}
                            <input type="text" class="form-control" placeholder="Age Range" disabled><br>
                            <input type="text" class="form-control" placeholder="How did you hear about us?" disabled><br>
                            <input type="text" class="form-control" placeholder="How did you like our products?" disabled><br>
                            <input type="text" class="form-control" placeholder="Anything else" disabled><br>
                            <input type="hidden" name="step" value="1">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button type="submit" class="btn btn-primary">View Responses</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>


  <footer class="text-center mt-5 mb-5">
    &copy; 2022, E-Buz
  </footer>
  </body>
 </html>
